.Checkbox{
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 22px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 14px;
    background: rgba(#3a7bd5, 0.2);
    transition: all 0.25s;
  
  }
  
  .Text_checkbox {
    display: flex;
    width: 100%;

  }
  