@import "styles/addTodo";
@import "styles/todoList";
@import "styles/todo";
.App-header {
  background-color: #00d2ff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  height: 100%;
}

.App-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.8);
}
